{% extends 'base.html' %}

<h2>{% block title %}Listado de Clientes{% endblock %}</h2>

{% block body %}

    {% if messages %}
        <div class="row">
            <div class="col-xs-12">

                {% for message in messages %}
                    <p{% if message.tags == 'success'%} class="alert alert-dismissible alert-success" {% elif message.tags == 'error' %} class="alert alert-dismissible alert-danger" {% endif %}>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <i {% if message.tags == 'success'%} class="fa fa-check" {% elif message.tags == 'error' %} class='fa fa-times' {% endif %} aria-hidden="true">&nbsp;</i>
                        {{ message|linebreaksbr }}
                    </p>
                {% endfor %}

            </div>
        </div>
    {% endif %}

    <table>
            {% if object_list %}
                <tr>
                    <th></th>
                    <th>RUT Cliente</th>
                    <th>Nombre Cliente</th>
                    <th>Comuna</th>
                    <th>Telefono</th>
                    <th>Contactos</th>
                </tr>

                    {% for client in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'clients:client-update' client.pk %}"><i class="fa fa-pencil-square-o" title="Editar"></i></a>&nbsp;
                                <a href="{% url 'clients:client-delete' client.pk %}"><i class="fa fa-times-circle" title="Eliminar"></i></a>
                            </td>
                            <td>{{ client.client_rut }}</td>
                            <td>{{ client.client_name }}</td>
                            <td>{{ client.client_comuna }}</td>
                            <td>{{ client.client_tel }}</td>
                            <td>
                                <a href="{% url 'clients:contact_list' client.pk %}" class="btn btn-default btn-sm">Contactos</a>
                            </td>
                        </tr>

                    {% endfor %}
            {% else %}
                <h3>No hay clientes registrados</h3>
            {% endif %}
    </table>
    <br>
    <br>
    <a href="{% url 'clients:client-add' %}" class="btn btn-success">Crear Cliente</a>
    <br>
    <br>


{% endblock %}