<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>smartERP</title>


    {% load staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="http://127.0.0.1:8000/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="http://127.0.0.1:8000/static/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://127.0.0.1:8000/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <style>

    .errorlist{
        color: #c9302c;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 5px;
        font-size: 130%;
        color: #122b40;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }


    form label{
        color: #122b40;
        font-size: 100%;
    }

    select{
        color: #122b40;
    }

    .fa-pencil-square-o {
        color: #888888;
    }

    .fa-pencil-square-o:hover {
        color: #122b40;
    }

    .fa-times-circle {
        color: #888888;
    }

   .fa-times-circle:hover {
        color: #122b40;
    }

    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
{#    [if lt IE 9]#}
{#        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
{#        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
{#    [endif]#}

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">smartERP</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                {% if user.active %}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>#}
{#                        <ul class="dropdown-menu message-dropdown">#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <div class="media">#}
{#                                        <span class="pull-left">#}
{#                                            <img class="media-object" src="http://placehold.it/50x50" alt="">#}
{#                                        </span>#}
{#                                        <div class="media-body">#}
{#                                            <h5 class="media-heading">#}
{#                                                <strong>John Smith</strong>#}
{#                                            </h5>#}
{#                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>#}
{#                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <div class="media">#}
{#                                        <span class="pull-left">#}
{#                                            <img class="media-object" src="http://placehold.it/50x50" alt="">#}
{#                                        </span>#}
{#                                        <div class="media-body">#}
{#                                            <h5 class="media-heading">#}
{#                                                <strong>John Smith</strong>#}
{#                                            </h5>#}
{#                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>#}
{#                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="message-preview">#}
{#                                <a href="#">#}
{#                                    <div class="media">#}
{#                                        <span class="pull-left">#}
{#                                            <img class="media-object" src="http://placehold.it/50x50" alt="">#}
{#                                        </span>#}
{#                                        <div class="media-body">#}
{#                                            <h5 class="media-heading">#}
{#                                                <strong>John Smith</strong>#}
{#                                            </h5>#}
{#                                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>#}
{#                                            <p>Lorem ipsum dolor sit amet, consectetur...</p>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </a>#}
{#                            </li>#}
{#                            <li class="message-footer">#}
{#                                <a href="#">Read All New Messages</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li class="dropdown">#}
{#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>#}
{#                        <ul class="dropdown-menu alert-dropdown">#}
{#                            <li>#}
{#                                <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>#}
{#                            </li>#}
{#                            <li class="divider"></li>#}
{#                            <li>#}
{#                                <a href="#">View All</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>

                {% else %}
                    <ul class="nav navbar-nav pull-right">
                        <a class="btn btn-lg btn-primary" data-toggle="modal" href="#myModal" >Login</a>
                    </ul>
                {% endif %}

            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

                    <li class="#">
                        <a href="#ventas" data-toggle="collapse"><i class="fa fa-fw fa-usd"></i> <b>VENTAS</b><i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="ventas" class="collapse">
                            <li>
                                <a href="#ventas-clientes" data-toggle="collapse"> <em>Clientes</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="ventas-clientes" class="collapse">
                                    <li><a href="{% url 'clients:client-add' %}">Crear cliente</a></li>
                                    <li><a href="{% url 'clients:client_list' %} ">Clientes</a></li>
                                </ul>
                                <a href="#ventas-cot" data-toggle="collapse"> <em>Cotizaciones</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="ventas-cot" class="collapse">
                                    <li><a href="#">Crear nueva cotizacion</a></li>
                                    <li><a href="#">Cotizaciones pendientes</a></li>
                                    <li><a href="#">Cotizaciones aprobadas</a></li>
                                </ul>
                                <a href="#ventas-ventas" data-toggle="collapse"> <em>Ventas</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="ventas-ventas" class="collapse">
                                    <li><a href="#">Crear nueva venta</a></li>
                                    <li><a href="#">Ventas pendientes</a></li>
                                    <li><a href="#">Ventas aprobadas</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="#">
                        <a href="#compras" data-toggle="collapse"><i class="fa fa-fw fa-shopping-cart"></i> <b>COMPRAS</b><i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="compras" class="collapse">
                            <li>
                                <a href="#compras-provs" data-toggle="collapse"> <em>Proveedores</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="compras-provs" class="collapse">
                                    <li><a href="#">Crear nuevo proveedor</a></li>
                                    <li><a href="#">Proveedores</a></li>
                                </ul>
                                <a href="#compras-ocs" data-toggle="collapse"> <em>Ordenes de compra</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="compras-ocs" class="collapse">
                                    <li><a href="#">Crear nueva Orden de Compra</a></li>
                                    <li><a href="#">Ordenes por aprobar</a></li>
                                    <li><a href="#">Ordenes aprobadas</a></li>
                                </ul>
                                <a href="#compras-rec" data-toggle="collapse"> <em>Recepción de artículos</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="compras-rec" class="collapse">
                                    <li><a href="#">Recepcionar artículos - con OC</a></li>
                                    <li><a href="#">Recepcionar artículos - sin OC</a></li>
                                    <li><a href="#">Recepciones</a></li>
                                    <li><a href="#">Devoluciones</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="#">
                        <a href="#inv" data-toggle="collapse"><i class="fa fa-fw fa-cubes"></i> <b>INVENTARIO</b><i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="inv" class="collapse">
                            <li>
                                <a href="#inv-arts" data-toggle="collapse"> <em>Artículos</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="inv-arts" class="collapse">
                                    <li><a href="#">Crear nuevo artículo</a></li>
                                    <li><a href="#">Artículos</a></li>
                                </ul>
                                <a href="#inv-movs" data-toggle="collapse"> <em>Movimientos de Inventario</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="inv-movs" class="collapse">
                                    <li><a href="#">Crear nuevo movimiento</a></li>
                                    <li><a href="#">Movimientos por aprobar</a></li>
                                    <li><a href="#">Movimientos aprobados</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                    <li class="#">
                        <a href="#conf" data-toggle="collapse"><i class="fa fa-fw fa-cogs"></i> <b>CONFIGURACIÓN</b><i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="conf" class="collapse">
                            <li>
                                <a href="#conf-ventas" data-toggle="collapse"> <em>Ventas</em><i class="fa fa-fw fa-caret-right"></i></a>
                                <ul id="conf-ventas" class="collapse">
                                    <li><a href="#">Tipos de documento</a></li>
                                    <li><a href="#">Formas de pago</a></li>
                                    <li><a href="#">Condiciones de pago</a></li>
                                    <li><a href="#">Vendedores</a></li>
                                </ul>
                                <a href="#conf-compras" data-toggle="collapse"> <em>Compras</em><i class="fa fa-fw fa-caret-right"></i></a>
                                <ul id="conf-compras" class="collapse">
                                    <li><a href="#">Tipos de documento</a></li>
                                    <li><a href="#">Formas de pago</a></li>
                                    <li><a href="#">Condiciones de pago</a></li>
                                </ul>
                                <a href="#conf-inv" data-toggle="collapse"> <em>Inventario</em><i class="fa fa-fw fa-caret-right"></i></a>
                                <ul id="conf-inv" class="collapse">
                                    <li><a href="#">Tipos de movimiento</a></li>
                                    <li><a href="#">Motivos de movimiento</a></li>

                                </ul>
                                <a href="#conf-gestion" data-toggle="collapse"> <em>Gestión</em><i class="fa fa-fw fa-caret-right"></i></a>
                                <ul id="conf-gestion" class="collapse">
                                    <li><a href="#">Bodegas</a></li>
                                    <li><a href="#">Sucursales</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="#">
                        <a href="#datos" data-toggle="collapse"><i class="fa fa-fw fa-database"></i> <b>DATOS</b><i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="datos" class="collapse">
                            <li>
                                <a href="#datos-imp" data-toggle="collapse"> <em>Importadores</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="datos-imp" class="collapse">
                                    <li><a href="#">Importador de Compras</a></li>
                                    <li><a href="#">Importador de Ventas</a></li>
                                    <li><a href="#">Importador de Clientes</a></li>
                                    <li><a href="#">Importador de Provedores</a></li>
                                    <li><a href="#">Importador de Cotizaciones</a></li>
                                    <li><a href="#">Importador de Articulos</a></li>
                                    <li><a href="#">Importador de Listas de Precio</a></li>
                                </ul>
                                <a href="#datos-exp" data-toggle="collapse"> <em>Exportadores</em><i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="datos-exp" class="collapse">
                                    <li><a href="#">Exportador de Compras</a></li>
                                    <li><a href="#">Exportador de Ventas</a></li>
                                    <li><a href="#">Exportador de Clientes</a></li>
                                    <li><a href="#">Exportador de Provedores</a></li>
                                    <li><a href="#">Exportador de Cotizaciones</a></li>
                                    <li><a href="#">Exportador de Articulos</a></li>
                                    <li><a href="#">Exportador de Listas de Precio</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-muted">
                            {% block title %}{% endblock %}
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Blank Page
                            </li>
                        </ol>
                    </div>

                </div>
                <!-- /.row -->

                {% block body %}
                {% endblock %}

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="http://127.0.0.1:8000/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://127.0.0.1:8000/static/js/bootstrap.min.js"></script>

    <!---login modal --->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h3>Bienvenido a smartERP</h3>
                </div>
                <div class="modal-body">
                    <form method="post" action='' name="login_form">
                        <p><input type="text" class="span3" name="eid" id="email" placeholder="Email"></p>
                            <p><input type="password" class="span3" name="passwd" placeholder="Password"></p>
                            <p><button type="submit" class="btn btn-primary">Sign in</button><br>
                              <a href="#">Forgot Password?</a>
                            </p>
                    </form>
                </div>
                <div class="modal-footer">
                    Not registered yet?
                    <a href="#" class="btn btn-primary">Register</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
