{% extends 'base.html' %}

<h2>{% block title %}Bienvenido a smartERP{% endblock %}</h2>

{% block body %}


    {#            Listado de pendientes pagina web#}
    <table>
        <td class="prueba">
            Listado de pendientes: <br>
            1. Para poder generar una venta hay que crear:<B>(recordar despues revisar que todos los protect esten funcionando)</B><br>
            - Vendedor <b>LISTO, creado list, update, delete, con unique code</b><br>
            - Bodega<b>LISTO, creado list, update, delete, con unique code</b><br>
            - Sucursal<b>LISTO, creado list, update, delete, con unique code</b><br>
            - Forma de pago<br>
            - Condicion de credito<br>
            - Documento de venta<br>
            - Producto<br>
            <br>
            2. Crear importadores<br>
            3. Ver si es posible hacer un _create_form, y un _confirm_delete genericos para todas las apps<br>
            4. Asegurar que la pagina sea segunra contra malware y spyware <br>
            <a href="https://docs.djangoproject.com/es/1.10/topics/security/" class="prueba">Ir a sitio de Django sobre seguridad</a><br>
            5. Hacer el Dashboard<br>
            6. <br>
            7. crear el user register y login<br>
        </td>
    </table>


{% endblock %}